
.nav-item, .media-links {
    list-style: none;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.review {
    text-align: center;
    text-transform: uppercase;
    text-shadow: red 2px 3px 9px;
}

i {
    font-size: 40px;
}
